body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.Select-option {
  padding-left: 2em;
}
.Select-option.is-disabled {
  cursor: default;
  padding-left: 1em;
  font-weight: bold;
  border-top: 2px solid lightgray;
  border-bottom: 2px solid lightgray;
}